
        body {
            font-family: Arial, sans-serif;
            padding: 30px;
        }
        .box {
            flex-grow: 1;
            width: 100%; 
            max-width: 520px;
            background: #ffffff; 
            padding: 25px 30px;
            border-radius: 12px; 
            box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
            border: 1px solid #e3e3e3;
            margin: 0 auto;  
        }
        select {
            width: 100%;
            padding: 8px;

        }
        h2 {
            margin-top: 20px;
            text-align: center;
        }
        
        .container {
            max-width: 1200px;
            margin: 0 auto;
            padding: 20px;
        }
        
        .btn-back {
            background: #6c757d;
            color: white;
            padding: 8px 16px;
            text-decoration: none;
            border: 1px solid #6c757d;
            margin-bottom: 20px;
            display: inline-block;
        }

        .part-row {
           display: flex;
           gap: 10px;
           margin-bottom: 10px;
           align-items: center;
        }

        .part-row select {
            height: 40px;
        }


        .part-row input[type="number"] {
           height: 35px;
        }

        .part-container label {
            display: block;
            margin-bottom: 10px;
        }

        .checkout-btn {
            width: 100%;
            margin-top: 15px;
            padding: 12px;
            background-color: #28a745;
            color: #fff;
            border: none;
            font-size: 16px;
            border-radius: 6px;
            cursor: pointer;
        }

         .checkout-btn:hover {
          background-color: #218838;
        }
